extends layout

block main
  .row
    .col-md-4.hidden-sm.hidden-xs
      img(src=movie.image alt='Movie poster' style='max-width: 100%')
    .col-md-8
      h1=movie.title
      for value, name in movie.data
        p
          strong=name
          | : 
          =value

block right
  h1 Links
  a(href='/movie/' + id +  '/release').permission-add-release Add a release
  p NB: this does not work well without javascript
  for release in movie.releases
    if (release.links instanceof Array && release.links.length > 0)
      .panel.panel-default
        .panel-heading
          a(data-toggle='collapse' href='#release' + release.id aria-expanded='false' aria-controls='release' + release.id)=release.quality + ' ' + release.source + ' ' + release.size + ' ' + release.video_codec
        .collapse(id='release' + release.id)
          .panel-body
            for link, linkId in release.links
              if (link instanceof Array)
                .panel.panel-default
                  .panel-heading
                    a(data-toggle='collapse' href='#link' + release.id + '-' + linkId aria-expanded='false' aria-controls='release' + id)=link.length + ' parts (Uptobox)'
                  .collapse(id='link' + release.id + '-' + linkId)
                    .panel-body
                       each l, i in link
                        p
                          a(href=l)='Uptobox part ' + i
              else
                p
                  a(href=link) Uptobox