extends layout

mixin selectContent(name, list)
  option(value="")
    each e in list
      if e == release[name]
        option(value=e selected)=e
      else
        option(value=e)=e

mixin dropdown(id, name, list, str, required)
  .form-group
    label(for=id).control-label.col-sm-3=__(str)
    .col-sm-8
      if required
        select(id=id name=name required)
          +selectContent(name, list)
      else
        select(id=id name=name)
          +selectContent(name, list)

block main
  h1=__('Add a release for')+' $MOVIE_TITLE'
  form(method='post' action='/movie/' + movie_id + '/release').form-horizontal
    button(type='button').btn.btn-default#addLink=__('Add a set of links')
    #setOfLinks
      .form-group
        .col-sm-3(style='display:inline-block')
          label(for='setOfLinks1').control-label
            !=__('Set of links')+' #1 &nbsp;'
          select
            - let i = 1
            while i < 10
              option(value=i)=i++
        .col-sm-8
          textarea(name='links|1' style='height: 2.5em' required).form-control#setOfLinks1
            =release['links|1']
    .form-group
      label(for='inputReleaseName').control-label.col-sm-3=__('Name')
      .col-sm-8
        input(type='text' name='name' value=release.name required).form-control#inputReleaseName
    .form-group
      label(for='inputReleaseSize').control-label.col-sm-3=__('Size')
      .col-sm-8
        input(type='text' name='size' value=release.size required).form-control#inputReleaseSize
    +dropdown('inputReleaseLanguage', 'language', lists.languages, 'Language', true)
    +dropdown('inputReleaseAudioCodec', 'audio_codec', lists.audio_codecs, 'Audio codec', true)
    +dropdown('inputReleaseVideoCodec', 'video_codec', lists.video_codecs, 'Video codec', true)
    +dropdown('inputReleaseSource', 'source', lists.sources, 'Source', true)
    +dropdown('inputReleaseQuality', 'quality', lists.qualities, 'Quality', true)
    +dropdown('inputReleaseContainer', 'container', lists.containers, 'Container', true)
    +dropdown('inputReleaseCompression', 'compression', lists.compressions, 'Compression', false)
    .form-group
      label(for='inputReleaseInformations').control-label.col-sm-3=__('Other informations')
      .col-sm-8
        textarea(rows='2', cols='30' name='informations').form-control#inputReleaseInformations
          =release.informations
    .form-group(style='text-align: center')
      button(type='submit').btn.btn-default=__('Add release')
